h1 {
    text-align: center;
    background-color: rgb(140, 33, 86);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: rgb(140, 33, 86);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#header {
    text-align: left;
    color: black;
}
